<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <section>
          <div>
            <img src="<%= book.image_url %>" alt="" class="book-image">
            <h3 class="book-title">
              <%= book.title %>
            </h3>
            <p class="book-author"><em>
                <%= book.author %>
              </em></p>
              <a href="/">Home</a>
          </div>
      </section>
</body>
</html>