<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/layout.css">
        <link rel="stylesheet" href="../styles/modules.css">

        <title>Search</title>
    </head>

    <body>
        <%- include('../../layout/header')%>

        <main>
            <h2>Search by Title or Author</h2>
            <section>
                <form action="/search" method="POST">
                    <fieldset>
                        <!-- <label for="query">Enter a Title or Author</label> -->
                        <input class="entry" type="text" name="query" placeholder="Enter a Title or Author">
                        <br>
                        <label class="selector" for="searchtype">Title<input class="rad-btn" type="radio"
                                name="searchtype" value="title"></label>

                        <br>
                        <label class="selector" for="searchtype">Author<input class="rad-btn" type="radio"
                                name="searchtype" value="author"></label>

                        <br>
                        <input class="sub-btn" type="submit" value="Search the Google Books API">
                    </fieldset>
                </form>
            </section>
        </main>
        <%- include('../../layout/footer')%>

    </body>

</html>