<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules/search.css">
    <title>Search Results</title>
  </head>

  <body>
    <%- include('../../layout/header')%>

      <main>
        <h2>Search Results</h2>
        <section>
          <% booklist.forEach((book)=> { %>
            <div>
              <%- include('../books/detail', {book: book}) %>
                <form class="add-book" action="/book" method="POST">
               <%- include('../books/edit', {book: book}) %>
                </form>
            </div>
            <% }) %>
        </section>
      </main>
      <%- include('../../layout/footer')%>

  </body>

</html>