body {
    background-color:#5b5a5f;
}

header {
    font-size: 26px;
    background-color:black;
}

h1 {
      color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid rgb(193, 195, 196);
  border-radius: 8px;
  padding: .7vh;
  background-color: #343435;
  text-shadow:2px 2px 3px black;

}


.library-count {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 3px;
}

h2 {
  background-color:#363638;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color:black;
  color: white;
  text-align: center;
}

div {
  background-color: rgb(193, 195, 196);
  border-radius: 6px;
  box-shadow:2px 2px 4px black;

}

.entry {
  font-size: 18px;
  padding-left: 12px;
  text-align: left;
  border-radius: 8px;

}

.selector {
  background-color: rgb(168, 169, 170);
  font-size: 18px;
  padding: 24px 12px;
  text-align: left;
  border-radius: 8px;
}

.sub-btn {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}

.select-btn {
  margin: auto;
  width:50%;
  height: 80px;
  border-radius: 12px;
  background-color: black;
  color: white;

}

.book-add {
  padding-top: 12px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.detail-title {
  padding-top: 4px;
  font-size: 22px;
  font-weight: bold;
}

.detail-author {
  font-size: 16px;
  font-style: italic;
}

.detail-description {
  background-color:rgb(235, 236, 236);
  border-radius: 8px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: 9px;
  overflow: hidden;
  text-align: center;
}

.details-btn {
  border-radius: 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 46px;


}

input{
  display: none;
}

.select-btn{
  display: block;
  transform: translateY(-100%);
}