body {
    background-color:#5b5a5f;
}

header {
    background-color:black;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

h2 {
    background-color:#363638;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
}

div {
  background-color: rgb(193, 195, 196);
  border-radius: 6px;
  box-shadow:2px 2px 4px black;

}

.entry {
  font-size: 18px;
  padding-left: 12px;
  text-align: left;
  border-radius: 8px;

}

.selector {
  background-color: rgb(168, 169, 170);
  font-size: 18px;
  padding: 24px 12px;
  text-align: left;
  border-radius: 8px;
}

.sub-btn {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}

.form-hide{
  display: none;
}